*, :after, :before {
    box-sizing: border-box;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
.chevron-d--ne5Cd:before {
    content: "\f114";
}

.container--qnbep, .filtersContainer--y7ZAh {
    margin: 0 auto;
    max-width: 1830px;
    padding: 0 32px;
}
style attribute {
    --vh: 3.79px;
}
.typeSwitcher--RLjVn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0;
}
.scroller--p5j5h {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}
.scroller--p5j5h .containerOuter--M-f8H {
    width: 100%;
    overflow: hidden;
}
.scroller--xo2Ii {
    align-items: center;
    justify-content: center;
}
.scroller--p5j5h .containerInner--gi0rH {
    position: relative;
    display: flex;
    width: 100%;
    transition: transform .5s ease;
}
.scroller--xo2Ii>:nth-last-child(n+2) {
    padding-right: 8px!important;
}
.scroller--p5j5h .containerInner--gi0rH.addPadding--hErnN>:nth-last-child(n+2) {
    padding-right: 12px;
}


.tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4:hover {
    background: #f7f7f7;
    color: #191b26;
}
.base--jzyee {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .1s ease-in;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
}

.tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4:hover {
    background: #f7f7f7;
    color: #191b26;
}
.icon--L\+lBh {
    font-family: pixabayicons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.base--jzyee * {
    cursor: pointer;
}
.buttonBase--r4opq .leftIcon--lqX0G {
    font-size: 20px;
    margin-right: 8px;
}
.tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4 .counter--jkh-H, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4 .leftIcon--lqX0G, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4 .rightIcon--V-PNx, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4:hover .counter--jkh-H, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4:hover .leftIcon--lqX0G, .tertiaryButton--\+4ehJ.light--uBcBI.active--nIoT4:hover .rightIcon--V-PNx {
    color: #00ab6b;
}
.home--BR3NH:before {
    content: "\f137";
}
.buttonBase--r4opq .label--Ngqjq {
    font-weight: 600;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vector--FUgoN:before {
    content: "\f161";
}
.video--ECx9r:before {
    content: "\f162";
}
.music--VR9Xr:before {
    content: "\f140";
}

.sound-effect--\+ZJ0V:before {
    content: "\f158";
}
.flame--\+xiI7:before {
    content: "\f12e";
}
.photo--q4EAP:before {
    content: "\f145";
}
.illustration--U5DXd:before {
    content: "\f138";
}
.scroller--p5j5h.button--W0u21 .scrollLeft--h0W8U {
    left: -16px;
    position: absolute;
    z-index: 1;
}

.buttonBase--r4opq.iconOnly--QRahF {
    padding: 0;
    width: 40px;
}
.tertiaryButton--\+4ehJ.light--uBcBI {
    background: transparent;
    color: #656f79;
    border: none;
}
.secondaryButton--xk9cO.light--uBcBI {
    background: #fff;
    color: #191b26;
    border: 1px solid #ceced2;
}
.scroller--p5j5h .scrollButton--qJrcz {
    width: 32px;
    height: 32px;
}
.scroller--p5j5h.fade--7QSmP .scrollButton--qJrcz {
    font-size: 20px;
}

.scroller--p5j5h.button--W0u21 .scrollButton--qJrcz {
    font-size: 16px;
}
.buttonBase--r4opq .rightIcon--V-PNx {
    font-size: 20px;
    margin-left: 8px;
}
.buttonBase--r4opq.iconOnly--QRahF .leftIcon--lqX0G, .buttonBase--r4opq.iconOnly--QRahF .rightIcon--V-PNx {
    margin-right: 0;
    margin-left: 0;
}
.scroller--p5j5h.button--W0u21 .scrollRight--AMIA9 {
    right: -16px;
    position: absolute;
    z-index: 1;
}
.buttonBase--r4opq {
    border-radius: 24px;
    height: 40px;
    padding: 0 16px;
    box-sizing: border-box;
}

.secondaryButton--xk9cO.light--uBcBI {
    background: #fff;
    color: #191b26;
    border: 1px solid #ceced2;
}

.resultControls--vlkGb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 24px;
}
.resultControls--vlkGb .popularSearches--aaJ6f {
    flex: auto;
    overflow: hidden;
}
.scroller--p5j5h .containerOuter--M-f8H {
    width: 100%;
    overflow: hidden;
}
.container--XfOnD {
    color: #fff;
    font-size: 14px;
    display: flex;
}
.scroller--p5j5h .containerInner--gi0rH {
    position: relative;
    display: flex;
    width: 100%;
    transition: transform .5s ease;
}
.tagButton--7WJVy {
    border-radius: 8px;
    height: 32px;
    padding: 0 12px;
    font-weight: 400;
}
.tagButton--7WJVy.light--uBcBI {
    border: 1px solid #b016ff;
    background: #fff;
    color: #8b0000;
}
.scroller--p5j5h.fade--7QSmP .scrollLeft--h0W8U {
    left: 0;
    position: absolute;
    padding-right: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg,hsla(0,0%,100%,0),#fff 35%,#fff);
}
.scroller--p5j5h.fade--7QSmP .scrollRight--AMIA9 {
    right: 0;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 35%,#fff);
}
.resultControls--vlkGb .sortOrder--2XrZk {
    display: flex;
    gap: 8px;
    flex: initial;
    padding: 0 0 0 8px;
    border-left: 1px solid #ebecf0;
    margin-left: 8px;
}
.container--YKYLB {
    display: inline-flex;
    position: relative;
    overflow: visible;
    text-align: left;
}
.triggerWrapper--NACCC {
    display: flex;
}
.dropdown--QzC2F {
    position: absolute;
    min-width: 216px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(14,19,24,.07), 0 2px 18px rgba(14,19,24,.25);
    z-index: 90;
}
.hidden--Q5vOS {
    display: none;
}
.dropdown--QzC2F.right--Yg1-e {
    right: 0;
}
.dropdown--QzC2F:not(.inverted--t4mJI) {
    top: calc(100% + 4px);
}

.dropdown--QzC2F.hidden--Q5vOS {
    display: none;
}
.light--boaNg.dropdown--QzC2F, .light--boaNg.dropdownMenu--XdQD-, .light--boaNg.takeover--Ru2F5 {
    color: #656f79;
    background: #fff;
}
.dropdownMenu--XdQD- {
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.dropdownMenuItem--yZ9j- {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.light--boaNg .dropdownMenuItem--yZ9j- {
    color: #656f79;
}
.light--boaNg .dropdownMenuItem--yZ9j-.active--yBWJC {
    color: #00ab6b;
}
body, button, input, label{
    font-size: 14px;
    font-weight: 400;
}
.dropdownMenuItem--yZ9j- label {
    white-space: nowrap;
    cursor: pointer;
}
.section-wrapper {
    margin: 94px 0 0;
}
@media only screen and (min-width: 660px){
.section-wrapper {
    margin: 104px 0 0;
}}

@media only screen and (min-width: 1204px){
.section-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1154px;
    margin: 40px auto 0;
}}
@media only screen and (min-width: 1524px){
.section-wrapper {
    width: 1474px;
}}
/* ---------------------------------------------- */
/* @media only screen and (min-width: 660px){
.content, .menu-wrapper {
    width: 620px;
}}
@media only screen and (min-width: 1204px){
.content {
    width: auto;
    margin: 0 0 0 50px;
    width: 940px;
}}
@media only screen and (min-width: 1524px){
.content {
    width: auto;
    margin: 0 0 0 50px;
    width: 1260px;
}}
.resources {
    position: relative;
    height: 100%;
    min-height: 700px;
}
@media only screen and (min-width: 1204px){
.resources {
    width: 940px;
}}
@media only screen and (min-width: 1524px){
.resources {
    width: 1260px;
}}
h1, h2 {
    font-weight: 700;
}
@media only screen and (min-width: 660px){
h1 {
    font-size: 24px;
    margin: 0 0 5px;
}} */